<div class="isshared">
	{{#if isShared}}
		Shared.
	{{else}}
		Not Shared.
		{{#if loggedIn}}
			<a class="action" href="/share/{{escape base}}">Share</a>
		{{/if}}
	{{/if}}
</div>

<div class="path">
	{{#if loggedIn}}
		<a href="/list/">/</a>
		&gt;
	{{/if}}
	{{#each path as |part|}}
		{{#ifneq @index 0}}
			&gt;
		{{/ifneq}}
		<a href="{{arrdots @index ../path}}">
			{{part}}
		</a>
	{{/each}}
</div>

<div class="content">
	{{#each files as |file|}}
		<div class="entry {{file.type}}">
			<div class="name">
				{{#if file.isDir}}
					<a href="{{escape file.name}}/">{{file.name}}</a>
				{{else}}
					<a href="/view/{{escape ../base}}{{escape file.name}}">{{file.name}}</a>
				{{/if}}
			</div>
			<div class="opts">
				{{#if ../loggedIn}}
					{{#if file.isShared}}
						Shared.
					{{else}}
						<a class="action" href="/share/{{escape ../base}}{{escape file.name}}">Share</a>
					{{/if}}
				{{/if}}
				{{#if file.isFile}}
				<a
					class="action"
					href="javascript:void(0)"
					onclick="popupView('/dl/{{escape ../base}}{{escape file.name}}')">
					Open
				</a>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>
